{% extends "base.j2" %}

{% set page = "index" %}

{% block content %}
  <section class="heading">
    <div class="heading__wrapper">
      <h1 class="heading__header">A collaborative  Time Tracking that you Need</h1>
      <p class="heading__subheader">An enim nullam tempor sapien gravida donec enim ipsum porta justo  congue magna at pretium purus pretium ligula </p>
      <button class="button heading__button">Start 14 Days Trial</button>
    </div>
  </section>
  <section>
    <div>
      <h2>15k+</h2>
      <p>Active user</p>
    </div>
        <div>
      <h2>30k</h2>
      <p>Total Download</p>
    </div>
        <div>
      <h2>10k</h2>
      <p>Customer</p>
    </div>
  </section>
  <section>
    <div>
      <h3>Preset List of Task</h3>
      <p>Make bill payments easily using the wallet app</p>
    </div>
    <div>
      <h3>Reminder of Task</h3>
      <p>Make bill payments easily using the wallet app</p>
    </div>
    <div>
      <h3>Complecation Report</h3>
      <p>Make bill payments easily using the wallet app</p>
    </div>
  </section>
  <section>
    <h2>Analytics & Reporting Brackdown</h2>
    <p>An enim nullam tempor sapien gravida donec enim ipsum porta justo  congue magna at pretium purus pretium ligula </p>
    <div>
      <h3>Preset List of Task</h3>
      <p>Make bill payments easily using the wallet app</p>
    </div>
    <div>
      <h3>Reminder of Task</h3>
      <p>Make bill payments easily using the wallet app</p>
    </div>
    <div>
      <h3>Complecation Report</h3>
      <p>Make bill payments easily using the wallet app</p>
    </div>
  </section>
  <section>
    <h2>How our Tracker work for you</h2>
    <p>An enim nullam tempor sapien gravida donec enim ipsum porta justo  congue magna at pretium purus pretium ligula </p>
    <div>
      <h3>Time Tracking</h3>
      <p>Time Tracking is never been easier. Just let the stopwatch run</p>
    </div>
    <div>
      <h3>Expenses</h3>
      <p>Time Tracking is never been easier. Just let the stopwatch run</p>
    </div>
    <div>
      <h3>Budget controlling</h3>
      <p>Time Tracking is never been easier. Just let the stopwatch run</p>
    </div>
  </section>
  <section>
    <h2>Flexible work, Simple Price</h2>
    <p>Growth your business with using us</p>
    <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
    </label>
    <p>Monthly</p>
    <p>Yearly</p>
    <article>
      <h2>Free</h2>
      <p>1 seat</p>
      <p>2 project</p>
      <p>$0/Forever</p>
      <button>Start 14 Days Trial</button>
    </article>
    <article>
      <h2>Premium</h2>
      <p>Unlimited seat</p>
      <p>Unlimited project</p>
      <p>$30/Forever</p>
      <button>Start 14 Days Trial</button>
    </article>
  </section>
  <section>
    <h2>See Our trusted partners</h2>
    <p>Vero homero perfecto mei ut, sonet aperiam an nec. Ni nec dict altera legimu. Me vita de lege ndos expet end is ad. Ex mei omita aliu mi ando</p>
    <button>Get Started</button>
  </section>
  <section>
    <h2>What our client says</h2>
    <p>Growth your business with using us</p>
    <article>
      <input type="radio" name="slider" id="button1" checked>
      <label id="rw1" for="button1"></label>
      <div id="review-1">
        <p>Leading an organization is incredibly rewarding and equally humbling. Confidence and humility. Every success is built on lessons from mistakes made is incredibly rewarding</p>
        <p>Mila McSabbu</p>
        <p>Designer</p>
      </div>
    </article>
        <article>
      <input type="radio" name="slider" id="button2" checked>
      <label id="rw2" for="button2"></label>
      <div id="review-2">
        <p>Leading an organization is incredibly rewarding and equally humbling. Confidence and humility. Every success is built on lessons from mistakes made is incredibly rewarding</p>
        <p>Mila McSabbu</p>
        <p>Designer</p>
      </div>
    </article>
        <article>
      <input type="radio" name="slider" id="button3" checked>
      <label id="rw3" for="button3"></label>
      <div id="review-3">
        <p>Leading an organization is incredibly rewarding and equally humbling. Confidence and humility. Every success is built on lessons from mistakes made is incredibly rewarding</p>
        <p>Mila McSabbu</p>
        <p>Designer</p>
      </div>
    </article>
  </section>
  <section>
    <h2>Get it now for free</h2>
    <p>We are offering free debit cards once you sing up and order a card. we wont chargeyou for our debit card.</p>
    <button>Download on the App Store</button>
    <button>Get it in Google Play</button>
  </section>
{% endblock content %}
