{% from "macros/make_menu.j2" import "make_menu" %}

<header class="header">
  <div class="header__wrap">
    <a class="header__wrap-logo" href="#index">SaaSto logo</a>
    <nav class="nav">
      {{ make_menu(menu, page) }}
    </nav>
    <div>
      <button class="button-login" >Login</button>
      <button class="button">Sign Up</button>
    </div>
  </div>
</header>

