@use "../mixins/layout.scss" as *;

.header {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #FFF8F2;
}
.header__wrap {
  @include container;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__wrap-logo {
  background: url("../img/logo-desktop.svg") no-repeat;
  width: 178px;
  height: 40px;
  font-size: 0;
}
.button-login {
  border: none;
  background: transparent;
  color: #FF553E;
  margin-right: 20px;
  font-size: 18px;
}


